In [19]:
import numpy as np
from collections import Counter
import pandas as pd

In [1]:
def is_prime(n):
    if n < 2:
        return False
    for i in range (2, int(n**0.5) + 1):
        if n % i == 0:
            return False
    return True

In [3]:
def nearest_prime(n):

    if n < 2:
        return 2
    if is_prime(n):
        return n
    
    lower, upper = n -1, n+1
    while lower > 1 or upper < 2 *n:
        if lower > 1 and is_prime(lower):
            return lower
        if is_prime(upper):
            return upper
        
        lower -= 1
        upper += 1

In [10]:
def mode_nearest_prime(random_integers):

    nearest_primes =[nearest_prime(n) for n in random_integers]

    c = Counter(nearest_primes)

    return c.most_common(1)[0][0]

In [17]:
random_integers = np.random.randint(1, 100_000, 150)
random_integers

array([56615, 54571, 91776, 20353, 29385, 11043, 74608, 68647, 57073,
       46596, 41276, 61831, 17255, 72502, 15170, 52138, 56976,  7305,
        3268, 10980, 58836, 75959, 98528, 21843, 26937, 10161, 79117,
       70817, 75619, 33031, 72398, 87997, 78784, 55937, 60313, 28430,
       19468, 16595, 81617, 69340, 26317, 48399, 99833, 68977, 89972,
       64807, 81473, 89750, 43909, 38454, 43236, 19776, 34166, 75910,
       44770, 79449, 96256, 38473, 14720, 80765, 62357, 57181, 38874,
       70271, 75257, 93299, 21756, 46446, 43209,  5171, 41784, 94717,
       40702, 73999, 92004, 46007, 86654, 34241,  6817, 54611, 44126,
        9595, 27774, 37458, 86995, 77169, 48465, 98360, 30649,  1984,
       22894, 10393, 18634, 23442, 90775, 44740,  5408, 46331, 52275,
       98437, 75848, 18608, 11774, 69801, 59268, 13366, 52010, 57276,
       15784, 68833, 64579, 41833, 98195, 77559, 87822, 96264, 19913,
       13692, 72498, 80322, 32182, 61119, 15410, 57493, 82885, 80787,
       11131, 70094, 31586, 91977, 77302, 50620, 58453, 10889, 50601,
       85011, 96283, 56649, 27311, 79771, 20298, 92780,  2942, 68229,
       98921, 10293, 47767,  2197, 90174, 77468])

In [18]:
mode = mode_nearest_prime(random_integers)
mode

56611

In [44]:
import numpy as np
from collections import Counter
import psutil
import os
def mode_using_counter(n_integers):

    process = psutil.Process(os.getpid())  # Obter o processo atual
    mem_before = process.memory_info().rss / 1024 ** 2  # Memória antes (MB)

    random_integers = np.random.randint(1, 100_000, n_integers)
    c = Counter(random_integers)
    result = c.most_common(1)[0][0]
    mem_after = process.memory_info().rss / 1024 ** 2  # Memória depois (MB)
    print(f" Memória antes: {mem_before:.2f} MB")
    print(f" Memória depois: {mem_after:.2f} MB")
    print(f" Diferença de memória: {mem_after - mem_before:.2f} MB")
    return result
mode_using_counter(100_000)

 Memória antes: 21.21 MB
 Memória depois: 28.64 MB
 Diferença de memória: 7.44 MB

67595

In [27]:
df = pd.read_excel('resultados_mega.xlsx')
df.head()

   Conc.        Data  n1  n2  n3  n4  n5  n6  Gan.  Prêmio    Apostas
0   2911  06/09/2025  54  59  32  56  23  27     0     NaN  9881794.0
1   2910  04/09/2025  11  28  15  29   4   3     0     NaN  7528956.0
2   2909  02/09/2025  21  31  53  58  41   8     0     NaN  6454893.0
3   2908  30/08/2025  37  38  20  36  50  35     0     NaN  6862741.0
4   2907  28/08/2025  30  52  33  42  56  44     0     NaN  4524636.0

In [28]:
print ('Moda por coluna:')
for col in ['n1', 'n2', 'n3', 'n4', 'n5', 'n6']:
    moda_coluna = df[col].mode()[0]
    print(f'{col}: {moda_coluna}')

Moda por coluna:
n1: 28
n2: 5
n3: 56
n4: 37
n5: 35
n6: 23

In [36]:
todos_numeros = np.concatenate([df['n1'],df['n2'],df['n3'],
                                df['n4'],df['n5'],df['n6']])

moda_geral = pd.Series(todos_numeros).mode()[0]
moda_geral

10

In [37]:
print ('os 6 numeros mais repetidos por coluna:')
for col in ['n1', 'n2', 'n3', 'n4', 'n5', 'n6']:
    top6_por_coluna = df[col].value_counts().head(6)
    print(f'\nColuna {col}: ')
    print(top6_por_coluna)

os 6 numeros mais repetidos por coluna:

Coluna n1:
n1
28    63
35    62
30    61
46    60
32    60
49    59
Name: count, dtype: int64

Coluna n2:
n2
5     67
10    63
39    62
53    62
32    61
17    59
Name: count, dtype: int64

Coluna n3:
n3
56    63
27    62
38    61
34    61
41    60
54    57
Name: count, dtype: int64

Coluna n4:
n4
37    67
60    64
29    62
34    57
1     56
36    56
Name: count, dtype: int64

Coluna n5:
n5
35    64
10    63
16    61
44    59
24    57
45    57
Name: count, dtype: int64

Coluna n6:
n6
23    64
33    63
17    59
10    58
53    58
16    58
Name: count, dtype: int64

In [40]:
todos_os_numeros = pd.Series(np.concatenate([df['n1'], df['n2'], df['n3'], df['n4'], df['n5'], df['n6']]))

top_6_geral = todos_os_numeros.value_counts().head(6)

print("\n-------------------------------------------------")
print("\nOs 6 números mais repetidos no geral (todas as colunas juntas):")
print(top_6_geral)

-------------------------------------------------

Os 6 números mais repetidos no geral (todas as colunas juntas):
10    340
53    332
5     319
34    315
37    314
33    312
Name: count, dtype: int64

In [41]:
numero_linhas = len(df)

numero_linhas

2911

In [42]:
pctg = 340 / numero_linhas
pctg

0.11679835108210238